# Python & VS Code
__pycache__/
.env
*.pyc
.vscode/
visa_checker_batch.txt
visa_checker_batch.bat

# Logs & screenshots
logs/
screenshot_*.png
confirmation_*.png
visa_checker_*.log

# Virtual‑envs
venv/
.env/